@use "components/button" as *;
@use "components/input" as *;

@use "variables/variables" as *;
@import "variables/colors.css";

body {
  font-family: $font-family;
  margin: 0;
  padding: 0;
  background-color: var(--body-bg);
  color: var(--fg);
}

main {
    padding: 1rem 1.5rem;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}