// Font family used throughout the application
$font-family: "Inter", sans-serif;

// Font sizes
$font-sm: 0.9rem;
$font-md: 1rem;
$font-lg: 1.25rem;
$font-xl: 1.5rem;

// Border radius sizes
$rounded: 0.75rem;
$rounded-sm: 0.25rem;
$rounded-md: 0.5rem;
$rounded-lg: 0.75rem;
$rounded-xl: 1rem;

$close-svg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill=''%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
