// Font family used throughout the application
$font-family: "Inter", sans-serif;

// Font sizes
$font-lg: 1.5rem;
$font-md: 1rem;
$font-sm: 0.9rem;

// Border radius sizes
$rounded: 0.75rem;
$rounded-sm: 0.25rem;
$rounded-md: 0.5rem;
$rounded-lg: 0.75rem;
$rounded-xl: 1rem;